/* body {

font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;

} */

html {
min-width: 100%;

min-height: 100%;
}

body {
min-width: 100vw;

min-height: 100vh;

color: black;
}
